<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <!-- <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <script src="../js/main.js"></script>
    <script type="text/javascript" src="../js/renderer.js"></script>
  </head>
  <body class="bg-dark">
    <div id="title-bar">
      <div id="title">   </div>
      <div id="title-bar-btns">
        <button id="close-btn">x</button>
      </div>
    </div>

    <div id="pseudo-body">

      <div id="noteHeader">
        <div id="noteTitle">
          <input id="noteTitleText" type="text">
          <span class="inputExpand"></span>
        </div>
        <div>
          <button id="newWindow-btn" onClick="send2main()" type="button">+</button>
        </div>
      </div>
      <hr>
      <textarea id="notesMain" placeholder="..." type="text"></textarea>

    </div>
  </body>
</html>
