<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet" type="text/css">
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <title>Sticky Utility</title>
  </head>
  <body class="bg-dark">
    <nav class="navbar navbar-light bg-dark px-0 py-0" style="padding-botom: 0px; margin-botom: 0px; max-height: 64px;">
      <h3 class="text-secondary py-2 w-75" style="font-weight: 400;">
        <div class="pl-3">
          <input class="text-secondary" style="min-width: 100%;" type="text">
        </div>
      </h3>
      <button type="button" class="btn btn-dark py-0">
        <h1 class="text-secondary">+</h1>
      </button>
    </nav>
    <hr class="bg-secondary my-0">
    <!-- <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table> -->
  </body>
</html>
