input {
  height: 41px !important;
  border: 100px !important;
  outline: 100px !important;
  background: transparent !important;
  width: 20px !important;
}

input:focus {
  height: 42px !important;
  border-bottom: 1px solid !important;
  border: 1 !important;
  outline: 1 !important;
}
